<!-- Start Cart Panel -->
<div class="shopping__cart">
    <div class="shopping__cart__inner">
        <div class="offsetmenu__close__btn">
            <a href="#"><i class="zmdi zmdi-close"></i></a>
        </div>
        <% if(carts) {%>
        <% for (var key in carts.items) { %>
        <div class="shp__cart__wrap">
            <div class="shp__single__product">
                <div class="shp__pro__thumb">
                    <a href="#">
                        <img src="/assets/images/products/<%= carts.items[key].item.image %>" alt="product images">
                    </a>
                </div>
                <div class="shp__pro__details">
                    <h2><a href="product-details.html"><%= carts.items[key].item.name %></a></h2>
                    <span class="quantity">QTY: <%= carts.items[key].Qty %></span>
                    <span class="shp__price price-transform"><%= carts.items[key].price %></span>
                </div>
                <div class="remove__btn">
                    <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                </div>
            </div>
        </div>
        <% } %>
        <% } %>
        <% if(carts) {%>
        <ul class="shoping__total">
            <li class="subtotal">Subtotal:</li>
            <li class="total__price"> <span class="price-transform"> <%= carts.totalPrice %> </span></li>
        </ul>
        <% } %>
        <% if(!carts) {%>
        <h1><span class="badge badge-secondary"> Chưa có sản phẩm nào trong giỏ hàng ! </span>
        </h1>
        <% } %>
        <ul class="shopping__btn">
            <li><a href="/carts">View Cart</a></li>
            <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
        </ul>
    </div>
</div>
<!-- End Cart Panel -->