<!-- Danh sách sản phẩm -->
<div class="card">
    <div class="card-header">
        <h5> Danh sách Sản Phẩm </h5>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="icofont icofont-simple-left "></i></li>
                <li><i class="icofont icofont-maximize full-card"></i></li>
                <li><i class="icofont icofont-minus minimize-card"></i></li>
                <li><i class="icofont icofont-refresh reload-card"></i></li>
                <li><i class="icofont icofont-error close-card"></i></li>
            </ul>
        </div>
        <a href='/admin/product/add_product' type="button" class="btn btn-primary btn-icon waves-effect waves-light">
            <i class="icofont icofont-plus"></i>
        </a>
    </div>
    <div class="card-block table-border-style mt-2">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th> STT </th>
                        <th> Ảnh Sản Phẩm </th>
                        <th> Tên Sản Phẩm </th>
                        <th> Giá(VNĐ) </th>
                        <th> Trạng thái </th>
                        <th> Số lượng </th>
                        <th> hành động </th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(function(product, index){ %>
                    <tr>
                        <th scope="row"><%= index %></th>
                        <th> <img class="sp_img" src="/assets/images/products/<%= product.image[0] %>" alt=""> </th>
                        <td class="font-weight-bold"><%= product.name %></td>
                        <td> <span class="product-price"> <%= product.price %> </span> <span> vnđ </span> </td>
                        <td> <label class="label <%= product.status === true ? 'label-success' : 'label-warning' %> ">
                                <%= product.status === true ? 'Còn hàng' : 'Hết hàng' %> </label> </td>
                        <td><%= product.count %></td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="/admin/product/edit_product/<%= product._id %>" type="button"
                                    class="btn btn-warning" title="Sửa sản phẩm">
                                    <i class="icofont icofont-edit"></i> </a>
                                <a href="/admin/product/delete_product/<%= product._id %>" type="button"
                                    class="btn btn-danger"> <i class="icofont icofont-ui-delete"
                                        title="Xóa sản phẩm"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Danh sách sản phẩm end -->